header.header
  nav.header-menu
    a.header-menu_item(href='/') Home
    a.header-menu_item(href='/botecagem.html') Botecagem
    a.header-menu_item(href='/bares.html') Bares
    a.header-menu_item(href='/fotos.html') Fotos
    a.header-menu_item(href='/saiba-mais.html') Saiba mais