.header-menu
  text-align: center

.header-menu_item
  font:
    size: 1.9375rem
    weight: 600
  color: #fff
  text-transform: uppercase

  &:not(:last-child)
    margin-right: 5rem

  &:hover
    padding-top: .7rem
    border-top: 4px solid #d6b976
    color: #d6b976

.header-menu_item--current
  padding-top: .7rem
  border-top: 4px solid #d6b976
  color: #d6b976

  &:hover
    border-color: darken(#d6b976, 10%)
    color: darken(#d6b976, 10%)