.about
  color: #fff

.about-esquenta
  margin-bottom: 5rem

.about-title
  font-size: 4.2rem

  img
    margin-left: 1.6rem
    vertical-align: middle

.about-text
  font-size: .975rem

.about-gallery_image
  &:not(:last-child)
    margin-right: .625rem

.about-info_image
  float: left
  margin-right: .9375rem

.about-info_text
  line-height: 1.25rem