.bares-header
  text-align: center

.bares-title
  font-size: 6.125rem

.bares-subtitle
  margin: 0
  font-size: 1.4375rem

.bares-filters
  margin: 2rem auto
  text-align: center

.bares-filters_select
  -webkit-appearance: none
  width: 25%
  margin: 0 .9375rem
  padding: .625rem .9375rem
  border: 0
  border-bottom: .125rem solid
  font:
    family: 'Helvetica Rounded LT Std', sans-serif
    size: 1.5rem
  color: #fff
  background: none

  &[disabled]
    opacity: .5

  option
    color: initial
  
.bares-list
  margin: 0
  padding: 0
  list-style: none

.bares-item
  width: 33.333%
  display: inline-block
  margin-bottom: .9375rem

.bares-item--hidden
  display: none

.bares-item_title
  display: block
  padding: .625rem
  width: 20rem
  font-size: 1.1rem
  background-color: #000

.bares-item_image
  position: relative
  margin: 0
  width: 20rem
  height: 10.8125rem

  img
    display: block
    width: 100%

.bares-item_caption
  position: absolute
  top: 0
  right: 0
  bottom: 0
  left: 0
  overflow: hidden
  height: 10.8125rem
  background-color: rgba(0,0,0,.6)

  &:hover > .bares-item_article
    -webkit-transform: translateY(0)
    -moz-transform: translateY(0)
    transform: translateY(0)

.bares-item_article
  position: absolute
  height: 10.8125rem
  text-align: center
  background-color: rgba(0,0,0,.8)
  -webkit-transform: translateY(10.8125rem)
  -moz-transform: translateY(10.8125rem)
  transform: translateY(10.8125rem)
  -webkit-transition: .2s all ease
  -moz-transition: .2s all ease
  transition: .2s all ease

.bares-item_article-title
  margin-top: 1.3rem
  font-size: 1.6rem

.bares-item_article-text
  font-size: .8rem

.bares-item_footer
  position: relative
  padding: 8.5rem .625rem 0

  p
    margin: 0
    font-size: .8rem

.bares-item_footer_info,
.bares-item_social
  display: inline-block
  vertical-align: middle

.bares-item_footer_info
  float: left
  width: 14.0625rem

.bares-item_social
  float: right
  width: 3.75rem
  text-align: right

.bares-item_social a
  display: inline-block
  width: 24px
  height: 24px

  &:not(:last-child)
    margin-right: .5rem
  
  img
    display: block
    width: 100% 