doctype html
html(lang='pt-br')
  head
    title Bares | Botecagem
    meta(charset='utf-8')
    meta(name='description', content='')
    link(href='/assets/css/main.css', rel='stylesheet')

  body.bares
    include includes/header

    main.main
      .container
        section.bares
          header.bares-header
            h1.title.bares-title Bares
            h2.bares-subtitle Conheça os bares participantes do Esquenta Botecagem:

    script(src='/assets/js/main.js')