doctype html
html(lang='pt-br')
  head
    title Bares | Botecagem
    meta(charset='utf-8')
    meta(name='description', content='')
    link(href='/assets/css/main.css', rel='stylesheet')

  body.bares
    include includes/header

    main.main
      .container
        section.bares
          header.bares-header
            h1.title.bares-title Bares
            h2.bares-subtitle Conheça os bares participantes do Esquenta Botecagem:

          .bares-filters
            select.select.bares-filters_select(data-id='estado')
              option(value='estados') - Estado
              option(value='ba') Bahia
              option(value='ce') Ceará
              option(value='mg') Minas Gerais
              option(value='pr') Paraná
              option(value='pe') Pernambuco
              option(value='rj') Rio de Janeiro
              option(value='sp') São Paulo

            select.select.bares-filters_select(disabled data-id='cidades')
              option(data-estado='' value='cidades') - Cidade
              option(data-estado='mg' value='belo-horizonte') Belo Horizonte
              option(data-estado='pr' value='curitiba') Curitiba
              option(data-estado='ce' value='fortaleza') Fortaleza
              option(data-estado='pe' value='recife') Recife
              option(data-estado='pe' value='olinda') Olinda
              option(data-estado='sp' value='ribeirao-preto') Ribeirão Preto
              option(data-estado='ba' value='salvador') Salvador


            select.select.bares-filters_select(disabled data-id='regioes')
              option(data-cidade='' value='regioes') - Bairro
              option(data-cidade='ribeirao-preto' value='Centro') Centro
              option(data-cidade='recife' value='boa-viagem') Boa Viagem
              option(data-cidade='recife' value='espinheiro') Espinheiro
              option(data-cidade='recife' value='tamarineira') Tamarineira
              option(data-cidade='olinda' value='bairro-novo') Bairro Novo
              option(data-cidade='salvador' value='rio-vermelho') Rio Vermelho
              option(data-cidade='belo-horizonte' value='savassi') Savassi
              option(data-cidade='belo-horizonte' value='sion') Sion
              option(data-cidade='belo-horizonte' value='lourdes') Lourdes
              option(data-cidade='belo-horizonte' value='sao-francisco') São Francisco
              option(data-cidade='belo-horizonte' value='padre-eustaquio') Padre Eustáquio
              option(data-cidade='fortaleza' value='varjota') Varjota
              option(data-cidade='fortaleza' value='parquelandia') Parquelândia
              option(data-cidade='fortaleza' value='aldeota') Aldeota
              option(data-cidade='fortaleza' value='cambeba') Cambeba
              option(data-cidade='fortaleza' value='meireles') Meireles
              option(data-cidade='curitiba' value='agua-verde') Água Verde
              option(data-cidade='curitiba' value='boqueirao') Boqueirão
              option(data-cidade='curitiba' value='alto-da-xv') Alto da XV
              option(data-cidade='curitiba' value='centro') Centro

          .bares-content
            ul.bares-list
              li.bares-item.sp.ribeirao-preto
                h3.title.bares-item_title Bar do Sócio
                figure.bares-item_image
                  img(src='assets/img/petiscos/sp_ribeirao-preto_bar-do-socio.jpg')
                  figcaption.bares-item_caption
                    article.bares-item_article
                      h4.title.bares-item_article-title Costela de Porco
                      p.bares-item_article-text Assada com tempero americano, servida com geléia de abacaxi e pimenta dedo de moça. Acompanha mandioca e molho de alho.
                    footer.bares-item_footer
                      .bares-item_footer_info
                        p Ribeirão Preto, SP
                        p R. Carvalheira Torquato Rizzi, 1336
                      nav.bares-item_social
                        a.bares-item_social-item(target='_blank' href='https://www.facebook.com/BardoSocioOficial/')
                          img(src='/assets/img/facebook-icon.png')
                        a.bares-item_social-item(target='_blank' href='https://goo.gl/maps/zPcYAT8wq112')
                          img(src='/assets/img/pin-icon.png')

              li.bares-item.sp.ribeirao-preto
                h3.title.bares-item_title Chocolate com Pimenta
                figure.bares-item_image
                  img(src='assets/img/petiscos/sp_ribeirao-preto_chocolate-com-pimenta.jpg')
                  figcaption.bares-item_caption
                    article.bares-item_article
                      h4.title.bares-item_article-title Ticary
                      p.bares-item_article-text São dois filés de tilápia com empanado super crocante na farinha panko. Camarões refogados a baiana (com azeite de dendê) e catupiry, acompanha um delicioso molho de maracujá.
                    footer.bares-item_footer
                      .bares-item_footer_info
                        p Ribeirão Preto, SP
                        p R. Alagoas, 222
                      nav.bares-item_social
                        a.bares-item_social-item(target='_blank' href='https://www.facebook.com/barchocolatecompimenta/')
                          img(src='/assets/img/facebook-icon.png')
                        a.bares-item_social-item(target='_blank' href='https://goo.gl/maps/7L95rJTXAeG2')
                          img(src='/assets/img/pin-icon.png')

              li.bares-item.sp.ribeirao-preto
                h3.title.bares-item_title Arpoador Gastronomia e Lazer
                figure.bares-item_image
                  img(src='assets/img/petiscos/sp_ribeirao-preto_arpoador-gastronomia-e-lazer.jpg')
                  figcaption.bares-item_caption
                    article.bares-item_article
                      h4.title.bares-item_article-title Tulipinhas Invertidas
                      p.bares-item_article-text Tulipinha de frango desossada com tempero de ervas, recheada com provolone e acompanhada de molho barbecue.
                    footer.bares-item_footer
                      .bares-item_footer_info
                        p Ribeirão Preto, SP
                        p Praça Rotary Club, 105
                      nav.bares-item_social
                        a.bares-item_social-item(target='_blank' href='https://www.facebook.com/arpoadorgastronomiaelazer/')
                          img(src='/assets/img/facebook-icon.png')
                        a.bares-item_social-item(target='_blank' href='https://goo.gl/maps/ZHixe4TKHuL2')
                          img(src='/assets/img/pin-icon.png')

              li.bares-item.sp.ribeirao-preto
                h3.title.bares-item_title Tecoara Bar Gourmet
                figure.bares-item_image
                  img(src='assets/img/petiscos/sp_ribeirao-preto_tecoara-bar-gourmet.jpg')
                  figcaption.bares-item_caption
                    article.bares-item_article
                      h4.title.bares-item_article-title Bolinho de mortadela
                      p.bares-item_article-text Bolinho recheado com mortadela e queijo gorgonzola.
                    footer.bares-item_footer
                      .bares-item_footer_info
                        p Ribeirão Preto, SP
                        p R. Arthur Bernardes, 20
                      nav.bares-item_social
                        a.bares-item_social-item(target='_blank' href='https://www.facebook.com/TecoaraBarGourmet/')
                          img(src='/assets/img/facebook-icon.png')
                        a.bares-item_social-item(target='_blank' href='https://goo.gl/maps/sgREd3R4JfA2')
                          img(src='/assets/img/pin-icon.png')

              li.bares-item.sp.ribeirao-preto.centro
                h3.title.bares-item_title Jockey Club
                figure.bares-item_image
                  img(src='assets/img/petiscos/sp_ribeirao-preto_jockey-club.jpg')
                  figcaption.bares-item_caption
                    article.bares-item_article
                      h4.title.bares-item_article-title Bolinho do Paddock
                      p.bares-item_article-text Descrição do sabor e se possível, falar um pouco dos ingredientes; Pasta de berinjela com gorgonzola recheado com mussarela.
                    footer.bares-item_footer
                      .bares-item_footer_info
                        p Ribeirão Preto, SP
                        p R. Marcondes Salgado, 617
                      nav.bares-item_social
                        a.bares-item_social-item(target='_blank' href='https://www.facebook.com/PaddockJockeyRibeirao')
                          img(src='/assets/img/facebook-icon.png')
                        a.bares-item_social-item(target='_blank' href='https://goo.gl/maps/NfhpGsahWGE2')
                          img(src='/assets/img/pin-icon.png')

              li.bares-item.pe.recife.boa-viagem
                h3.title.bares-item_title Reunião Bar e Restaurante
                figure.bares-item_image
                  img(src='assets/img/petiscos/pe_recife_reuniao-bar.jpg')
                  figcaption.bares-item_caption
                    article.bares-item_article
                      h4.title.bares-item_article-title Caranguejo Reunião
                      p.bares-item_article-text Caranguejo famoso pelo seu tempero diferenciado, com ingredientes como: alho, cebola, tomate, coentro e leite de coco.
                    footer.bares-item_footer
                      .bares-item_footer_info
                        p Recife, PE
                        p R. Dr. Gaspar Regueira Costa, 57
                      nav.bares-item_social
                        a.bares-item_social-item(target='_blank' href='https://www.facebook.com/Reuni%C3%A3o-Bar-e-Restaurante-981109408672835/')
                          img(src='/assets/img/facebook-icon.png')
                        a.bares-item_social-item(target='_blank' href='https://goo.gl/maps/FB28QoNHPn92')
                          img(src='/assets/img/pin-icon.png')

              li.bares-item.pe.recife.espinheiro
                h3.title.bares-item_title Empório Sertanejo
                figure.bares-item_image
                  img(src='assets/img/petiscos/pe_recife_emporio-sertanejo.jpeg')
                  figcaption.bares-item_caption
                    article.bares-item_article
                      h4.title.bares-item_article-title Miúdo de Galinha
                      p.bares-item_article-text
                    footer.bares-item_footer
                      .bares-item_footer_info
                        p Recife, PE
                        p R. da Hora, 34
                      nav.bares-item_social
                        a.bares-item_social-item(target='_blank' href='http://www.faceboook.com/emporiosertanejo1')
                          img(src='/assets/img/facebook-icon.png')
                        a.bares-item_social-item(target='_blank' href='https://goo.gl/maps/ti7bzTqr37M2')
                          img(src='/assets/img/pin-icon.png')

              li.bares-item.pe.recife.tamarineira
                h3.title.bares-item_title Bar do Moraes
                figure.bares-item_image
                  img(src='assets/img/petiscos/pe_recife_moraes.jpeg')
                  figcaption.bares-item_caption
                    article.bares-item_article
                      h4.title.bares-item_article-title Camarão do Ramiro
                      p.bares-item_article-text Com camarões grandes, o prato é confitado com azeite, temperado com alho e ervas finas, para dar um toque final no sabor. Acompanha torradas de queijo.
                    footer.bares-item_footer
                      .bares-item_footer_info
                        p Recife, PE
                        p R. Padre Roma, 430
                      nav.bares-item_social
                        a.bares-item_social-item(target='_blank' href='https://www.facebook.com/BarDoMorais/')
                          img(src='/assets/img/facebook-icon.png')
                        a.bares-item_social-item(target='_blank' href='https://goo.gl/maps/okZ131VXBYw')
                          img(src='/assets/img/pin-icon.png')

              li.bares-item.pe.olinda.bairro-novo
                h3.title.bares-item_title Bode do Nô
                figure.bares-item_image
                  img(src='assets/img/petiscos/pe_recife_bode-do-nono.png')
                  figcaption.bares-item_caption
                    article.bares-item_article
                      h4.title.bares-item_article-title Carne de Sol na Chapa
                      p.bares-item_article-text Suculenta carne de sol na chapa com cebolas douradas e acompanhada com fritas e salada.
                    footer.bares-item_footer
                      .bares-item_footer_info
                        p Olinda, PE
                        p Av. Min. Marcos Freire, 407
                      nav.bares-item_social
                        a.bares-item_social-item(target='_blank' href='https://www.facebook.com/bodedono/')
                          img(src='/assets/img/facebook-icon.png')
                        a.bares-item_social-item(target='_blank' href='https://goo.gl/maps/KUYPxFn4Wuy')
                          img(src='/assets/img/pin-icon.png')

              li.bares-item.pe.recife.boa-viagem
                h3.title.bares-item_title Caldíssimo Grill Bar e Restaurante
                figure.bares-item_image
                  img(src='assets/img/petiscos/pe_recife_caldissimo.jpg')
                  figcaption.bares-item_caption
                    article.bares-item_article
                      h4.title.bares-item_article-title Filé Caldíssimo
                      p.bares-item_article-text Filé mignon cortado em medalhões, ao molho especial de mostarda e torradas.
                    footer.bares-item_footer
                      .bares-item_footer_info
                        p Recife, PE
                        p R. Visc. de Jequitinhonha, 2237
                      nav.bares-item_social
                        a.bares-item_social-item(target='_blank' href='https://www.facebook.com/CaldissimoBar/?rf=197303866973683')
                          img(src='/assets/img/facebook-icon.png')
                        a.bares-item_social-item(target='_blank' href='https://goo.gl/maps/SapDo8KC3jN2')
                          img(src='/assets/img/pin-icon.png')

              li.bares-item.ba.salvador.rio-vermelho
                h3.title.bares-item_title Cabral 500
                figure.bares-item_image
                  img(src='assets/img/petiscos/ba_salvador_cabral-500.jpg')
                  figcaption.bares-item_caption
                    article.bares-item_article
                      h4.title.bares-item_article-title Vermelho Frito
                      p.bares-item_article-text Peixe Vermelho fresco, frito acompanhado de fritas, arroz, vinagrete e farofa.
                    footer.bares-item_footer
                      .bares-item_footer_info
                        p Salvador, BA
                        p Largo da Mariquita, 10
                      nav.bares-item_social
                        a.bares-item_social-item(target='_blank' href='https://pt-br.facebook.com/pages/Cabral-500/210534315642494')
                          img(src='/assets/img/facebook-icon.png')
                        a.bares-item_social-item(target='_blank' href='https://goo.gl/maps/PxezndvkGzo')
                          img(src='/assets/img/pin-icon.png')

              li.bares-item.ba.salvador.rio-vermelho
                h3.title.bares-item_title Postudo
                figure.bares-item_image
                  img(src='assets/img/petiscos/ba_salvador_postudo.jpg')
                  figcaption.bares-item_caption
                    article.bares-item_article
                      h4.title.bares-item_article-title Fumeiro da Izzah
                      p.bares-item_article-text Carne de fumeiro grelhada e acebolada, na banha suína. Farofa de banha suína com uvas passas, pimentão vermelho, cebola e azeitona.
                    footer.bares-item_footer
                      .bares-item_footer_info
                        p Salvador, BA
                        p R. João Gomes, 87
                      nav.bares-item_social
                        a.bares-item_social-item(target='_blank' href='https://www.facebook.com/Novo-Póstudo-608544815934034/?rf=193094134074734')
                          img(src='/assets/img/facebook-icon.png')
                        a.bares-item_social-item(target='_blank' href='https://goo.gl/maps/zy1ut4FRnuK2')
                          img(src='/assets/img/pin-icon.png')

              li.bares-item.ba.salvador.rio-vermelho
                h3.title.bares-item_title Boteco do França
                figure.bares-item_image
                  img(src='assets/img/petiscos/ba_salvador_boteco-do-franca.jpg')
                  figcaption.bares-item_caption
                    article.bares-item_article
                      h4.title.bares-item_article-title Carne Seca do Moreno
                      p.bares-item_article-text Carne de sertão desfiada com cebola, farofa dágua temperada, purê de abóbora e banana empanada.
                    footer.bares-item_footer
                      .bares-item_footer_info
                        p Salvador, BA
                        p R. Borges dos Réis, 24
                      nav.bares-item_social
                        a.bares-item_social-item(target='_blank' href='https://pt-br.facebook.com/BotecoDoFranca')
                          img(src='/assets/img/facebook-icon.png')
                        a.bares-item_social-item(target='_blank' href='https://goo.gl/maps/PG1AwK62vGK2')
                          img(src='/assets/img/pin-icon.png')

              li.bares-item.ba.salvador.rio-vermelho
                h3.title.bares-item_title Santa Maria
                figure.bares-item_image
                  img(src='assets/img/petiscos/ba_salvador_santa-maria.jpg')
                  figcaption.bares-item_caption
                    article.bares-item_article
                      h4.title.bares-item_article-title Moela ao molho de vinho
                      p.bares-item_article-text Guisado de moela com molho com redução de vinho. Acompanhado com pão francês em fatias.
                    footer.bares-item_footer
                      .bares-item_footer_info
                        p Salvador, BA
                        p Largo de Santana, S/N
                      nav.bares-item_social
                        a.bares-item_social-item(target='_blank' href='https://www.facebook.com/santamariapintaenina/')
                          img(src='/assets/img/facebook-icon.png')
                        a.bares-item_social-item(target='_blank' href='https://goo.gl/maps/y4Rmxbqadn92')
                          img(src='/assets/img/pin-icon.png')

              li.bares-item.mg.belo-horizonte.savassi
                h3.title.bares-item_title Baiana do Acarajé
                figure.bares-item_image
                  img(src='assets/img/petiscos/mg_bh_baiana-do-acaraje.jpg')
                  figcaption.bares-item_caption
                    article.bares-item_article
                      h4.title.bares-item_article-title Minas com Bahia
                      p.bares-item_article-text Isca de peixe a dorê com molho especial
                    footer.bares-item_footer
                      .bares-item_footer_info
                        p Belo Horizonte, MG
                        p R. Antônio de Albuquerque, 440
                      nav.bares-item_social
                        a.bares-item_social-item(target='_blank' href='https://www.instagram.com/BAIANADOACARAJEBH/')
                          img(src='/assets/img/facebook-icon.png')
                        a.bares-item_social-item(target='_blank' href='https://goo.gl/maps/YnE776fqLCK2')
                          img(src='/assets/img/pin-icon.png')

              li.bares-item.mg.belo-horizonte.sion
                h3.title.bares-item_title Bar do Antônio
                figure.bares-item_image
                  img(src='assets/img/petiscos/mg_bh_bar-do-antonio.jpg')
                  figcaption.bares-item_caption
                    article.bares-item_article
                      h4.title.bares-item_article-title Costelinha Embriagada
                      p.bares-item_article-text Costelinha, molho de cachãça com rapadura, queijo canastra pachá.
                    footer.bares-item_footer
                      .bares-item_footer_info
                        p Belo Horizonte, MG
                        p R. Flórida, 15
                      nav.bares-item_social
                        a.bares-item_social-item(target='_blank' href='https://www.facebook.com/BarDoAntonioLtda')
                          img(src='/assets/img/facebook-icon.png')
                        a.bares-item_social-item(target='_blank' href='https://goo.gl/maps/6GyBYr6xPMw')
                          img(src='/assets/img/pin-icon.png')

              li.bares-item.mg.belo-horizonte.lourdes
                h3.title.bares-item_title Boi Lourdes
                figure.bares-item_image
                  img(src='assets/img/petiscos/mg_bh_boi-lourdes.JPG')
                  figcaption.bares-item_caption
                    article.bares-item_article
                      h4.title.bares-item_article-title Baby Beef
                      p.bares-item_article-text Baby Beef ao molho de vinho, acompanhados de torradas ciabatas com manteiga siciliano.
                    footer.bares-item_footer
                      .bares-item_footer_info
                        p Belo Horizonte, MG
                        p R. Curitiba, 2069
                      nav.bares-item_social
                        a.bares-item_social-item(target='_blank' href='https://www.instagram.com/BOI.LOURDES/')
                          img(src='/assets/img/facebook-icon.png')
                        a.bares-item_social-item(target='_blank' href='https://goo.gl/maps/mxYm69dAEfT2')
                          img(src='/assets/img/pin-icon.png')

              li.bares-item.mg.belo-horizonte.lourdes
                h3.title.bares-item_title Butequim Gonzaga
                figure.bares-item_image
                  img(src='assets/img/petiscos/mg_bh_gonzaga-bartiquim.jpg')
                  figcaption.bares-item_caption
                    article.bares-item_article
                      h4.title.bares-item_article-title Bola da Vez
                      p.bares-item_article-text Superpolpeta recheada com queijo de minas e azeitonas ao molho de tomate e manjericão coberta de mussarela.
                    footer.bares-item_footer
                      .bares-item_footer_info
                        p Belo Horizonte, MG
                        p R. Tomás Gonzaga, 578
                      nav.bares-item_social
                        a.bares-item_social-item(target='_blank' href='https://www.facebook.com/GONZAGABARTIQUIM')
                          img(src='/assets/img/facebook-icon.png')
                        a.bares-item_social-item(target='_blank' href='https://goo.gl/maps/b7eEYo4Sezw')
                          img(src='/assets/img/pin-icon.png')

              li.bares-item.mg.belo-horizonte.sao-francisco
                h3.title.bares-item_title Maria das Tranças
                figure.bares-item_image
                  img(src='assets/img/petiscos/mg_bh_maria-das-trancas.JPG')
                  figcaption.bares-item_caption
                    article.bares-item_article
                      h4.title.bares-item_article-title Maria Pimenta
                      p.bares-item_article-text Frango á passarinho envolto em molho picante, acompanhado de mandioca frita.
                    footer.bares-item_footer
                      .bares-item_footer_info
                        p Belo Horizonte, MG
                        p R. Estoril, 938
                      nav.bares-item_social
                        a.bares-item_social-item(target='_blank' href='https://www.facebook.com/MARIADASTRANCAS')
                          img(src='/assets/img/facebook-icon.png')
                        a.bares-item_social-item(target='_blank' href='https://goo.gl/maps/YMjBt6eU8h12')
                          img(src='/assets/img/pin-icon.png')

              li.bares-item.mg.belo-horizonte.lourdes
                h3.title.bares-item_title Armazém Medeiros
                figure.bares-item_image
                  img(src='assets/img/petiscos/mg_bh_armazem-medeiros.jpg')
                  figcaption.bares-item_caption
                    article.bares-item_article
                      h4.title.bares-item_article-title Coração Mineiro
                      p.bares-item_article-text Deliciosa maçã de peito com molho especial da casa, acompanhado de batata recheada de requeijão e cebola assada em pétalas e tomatinhos cereja.
                    footer.bares-item_footer
                      .bares-item_footer_info
                        p Belo Horizonte, MG
                        p R. Rio de Janeiro, 2221
                      nav.bares-item_social
                        a.bares-item_social-item(target='_blank' href='https://www.facebook.com/ARMAZEMMEDEIROS')
                          img(src='/assets/img/facebook-icon.png')
                        a.bares-item_social-item(target='_blank' href='https://goo.gl/maps/HSbDopkQJX52')
                          img(src='/assets/img/pin-icon.png')

              li.bares-item.mg.belo-horizonte.savassi
                h3.title.bares-item_title Point Baiano
                figure.bares-item_image
                  img(src='assets/img/petiscos/mg_bh_point-baiano.jpg')
                  figcaption.bares-item_caption
                    article.bares-item_article
                      h4.title.bares-item_article-title Especial Praia
                      p.bares-item_article-text Camarão maluco e lula em anéis a dorê com molho de ervas.
                    footer.bares-item_footer
                      .bares-item_footer_info
                        p Belo Horizonte, MG
                        p R. Antônio de Albuquerque, 473
                      nav.bares-item_social
                        a.bares-item_social-item(target='_blank' href='#')
                          img(src='/assets/img/facebook-icon.png')
                        a.bares-item_social-item(target='_blank' href='https://goo.gl/maps/V1u1iHPC7MC2')
                          img(src='/assets/img/pin-icon.png')

              li.bares-item.mg.belo-horizonte.padre-eustaquio
                h3.title.bares-item_title Tradição do Churrasco
                figure.bares-item_image
                  img(src='assets/img/petiscos/mg_bh_tradicao-do-churrasco.JPG')
                  figcaption.bares-item_caption
                    article.bares-item_article
                      h4.title.bares-item_article-title Picanha Rústica
                      p.bares-item_article-text Picanha invertida, recheada com provolone e bacon, acompanhada de batata rústica, banana da terra e geleia de rapadura. 
                    footer.bares-item_footer
                      .bares-item_footer_info
                        p Belo Horizonte, MG
                        p R. Padre Eustáquio, 2705
                      nav.bares-item_social
                        a.bares-item_social-item(target='_blank' href='https://www.facebook.com/TRADICAODOCHURRASCO')
                          img(src='/assets/img/facebook-icon.png')
                        a.bares-item_social-item(target='_blank' href='https://goo.gl/maps/KkFNz4Dj7XQ2')
                          img(src='/assets/img/pin-icon.png')

              li.bares-item.ce.fortaleza.varjota
                h3.title.bares-item_title Bar do Cebolinha
                figure.bares-item_image
                  img(src='assets/img/petiscos/ce_fortaleza_cebolinha.jpeg')
                  figcaption.bares-item_caption
                    article.bares-item_article
                      h4.title.bares-item_article-title Cebolinha Recheada
                      p.bares-item_article-text Cebola recheada com carne de sol refogada no leite, coberta com queijo coalho gratinado.
                    footer.bares-item_footer
                      .bares-item_footer_info
                        p Fortaleza, CE
                        p Rua Silva Jatahy, 1404
                      nav.bares-item_social
                        a.bares-item_social-item(target='_blank' href='https://www.facebook.com/bardocebolinhavarjota')
                          img(src='/assets/img/facebook-icon.png')
                        a.bares-item_social-item(target='_blank' href='https://goo.gl/maps/ZqKN6ixsYiM2')
                          img(src='/assets/img/pin-icon.png')

              li.bares-item.ce.fortaleza.parquelandia
                h3.title.bares-item_title Alenca's Bar
                figure.bares-item_image
                  img(src='assets/img/petiscos/ce_fortaleza_alencas.jpeg')
                  figcaption.bares-item_caption
                    article.bares-item_article
                      h4.title.bares-item_article-title Moela ao molho
                      p.bares-item_article-text Moela temperada ao molho da casa servida com farofa nordestina.
                    footer.bares-item_footer
                      .bares-item_footer_info
                        p Fortaleza, CE
                        p R. Gustavo Sampaio, 692
                      nav.bares-item_social
                        a.bares-item_social-item(target='_blank' href='https://www.facebook.com/Alencas-Bar-358556470826932/')
                          img(src='/assets/img/facebook-icon.png')
                        a.bares-item_social-item(target='_blank' href='https://goo.gl/maps/m6CvfCHwWiM2')
                          img(src='/assets/img/pin-icon.png')

              li.bares-item.ce.fortaleza.aldeota
                h3.title.bares-item_title Picanha do Cowboy
                figure.bares-item_image
                  img(src='assets/img/petiscos/ce_fortaleza_picanha-do-cowboy.JPG')
                  figcaption.bares-item_caption
                    article.bares-item_article
                      h4.title.bares-item_article-title Linguiça Picante
                      p.bares-item_article-text Linguiça feita artesanalmente, grelhada e saborosamente picante. Feitas com partes nobres de carne suína, com baixo teor de gordura e uma seleção de temperos saborosos para apimentar o Happy Hour no Cowboy. 
                    footer.bares-item_footer 
                      .bares-item_footer_info
                        p Fortaleza, CE
                        p Av. Dom Luís, 685
                      nav.bares-item_social
                        a.bares-item_social-item(target='_blank' href='https://www.facebook.com/PicanhaDoCowboy/')
                          img(src='/assets/img/facebook-icon.png')
                        a.bares-item_social-item(target='_blank' href='https://www.google.com.br/maps/place/Picanha+do+Cowboy+Dom+Luis/@-3.7337171,-38.4952169,15z/data=!4m5!3m4!1s0x0:0x6c42a8e2db53b223!8m2!3d-3.7337171!4d-38.4952169')
                          img(src='/assets/img/pin-icon.png')

              li.bares-item.ce.fortaleza.cambeba
                h3.title.bares-item_title Bangs
                figure.bares-item_image
                  img(src='assets/img/petiscos/ce_fortaleza_bangs.jpg')
                  figcaption.bares-item_caption
                    article.bares-item_article
                      h4.title.bares-item_article-title Peito de Frango assado
                      p.bares-item_article-text Filé de peito de frango desossado com molho a base de pimenta do reino com toque especial do chef.
                    footer.bares-item_footer
                      .bares-item_footer_info
                        p Fortaleza, CE
                        p R. Crisanto Moreira da Rocha, 1230
                      nav.bares-item_social
                        a.bares-item_social-item(target='_blank' href='https://www.facebook.com/BangsFortaleza/')
                          img(src='/assets/img/facebook-icon.png')
                        a.bares-item_social-item(target='_blank' href='https://goo.gl/maps/kiRtz5vAi9n')
                          img(src='/assets/img/pin-icon.png')

              li.bares-item.ce.fortaleza.meireles
                h3.title.bares-item_title Boteco Praia
                figure.bares-item_image
                  img(src='assets/img/petiscos/ce_fortaleza_boteco-praia.jpg')
                  figcaption.bares-item_caption
                    article.bares-item_article
                      h4.title.bares-item_article-title Escondidinho Cearense
                      p.bares-item_article-text Carne de sol acebolada, puxada na manteiga da terra. Servida com macaxeira frita e coberta com queijo coalho gratinado.
                    footer.bares-item_footer
                      .bares-item_footer_info
                        p Fortaleza, CE
                        p Av. Beira Mar, 1680
                      nav.bares-item_social
                        a.bares-item_social-item(target='_blank' href='https://www.facebook.com/botecopraiafort/')
                          img(src='/assets/img/facebook-icon.png')
                        a.bares-item_social-item(target='_blank' href='https://goo.gl/maps/8wKaVGabbJ92')
                          img(src='/assets/img/pin-icon.png')

              li.bares-item.pr.curitiba.agua-verde
                h3.title.bares-item_title Jabuti
                figure.bares-item_image
                  img(src='assets/img/petiscos/pr_curitiba_jabuti.jpg')
                  figcaption.bares-item_caption
                    article.bares-item_article
                      h4.title.bares-item_article-title Tronquinho de Cupim
                      p.bares-item_article-text Tronquinhos de cupim desfiado com bacon, enrolados no próprio caldo e leite, temperados com salsinha, tomilho, louro, cebola, cenoura, alho poró, pimenta do reino e sal. Empanados em farinha panko.
                    footer.bares-item_footer
                      .bares-item_footer_info
                        p Curitiba, PR
                        p Professor Assis Gonçalves, 1506
                      nav.bares-item_social
                        a.bares-item_social-item(target='_blank' href='https://www.facebook.com/JabutiBar/')
                          img(src='/assets/img/facebook-icon.png')
                        a.bares-item_social-item(target='_blank' href='https://goo.gl/maps/NtmZLtDejLA2')
                          img(src='/assets/img/pin-icon.png')

              li.bares-item.pr.curitiba.agua-verde
                h3.title.bares-item_title Confraria Água Verde
                figure.bares-item_image
                  img(src='assets/img/petiscos/pr_curitiba_confraria-agua-verde.jpg')
                  figcaption.bares-item_caption
                    article.bares-item_article
                      h4.title.bares-item_article-title
                      p.bares-item_article-text
                    footer.bares-item_footer
                      .bares-item_footer_info
                        p Curitiba, PR
                        p Santa Catarina, 1155
                      nav.bares-item_social
                        a.bares-item_social-item(target='_blank' href='https://www.facebook.com/confrariaav/')
                          img(src='/assets/img/facebook-icon.png')
                        a.bares-item_social-item(target='_blank' href='https://goo.gl/maps/5ziF99yPzHC2')
                          img(src='/assets/img/pin-icon.png')

              li.bares-item.pr.curitiba.boqueirao
                h3.title.bares-item_title Mercearia 2840
                figure.bares-item_image
                  img(src='assets/img/petiscos/pr_curitiba_mercearia-2840.jpg')
                  figcaption.bares-item_caption
                    article.bares-item_article
                      h4.title.bares-item_article-title Bolinho de Costela
                      p.bares-item_article-text Feito com costela desfiada sem gordura, batata cozida, temperada com ervas finas, suculenta e crocante, e acompanhada com geleia de pimenta.
                    footer.bares-item_footer
                      .bares-item_footer_info
                        p Curitiba, PR
                        p Waldemar Loureiro de Campos, 2840
                      nav.bares-item_social
                        a.bares-item_social-item(target='_blank' href='https://www.facebook.com/Mercearia-2840-377932128908580/')
                          img(src='/assets/img/facebook-icon.png')
                        a.bares-item_social-item(target='_blank' href='https://goo.gl/maps/eEMfQRJTTfN2')
                          img(src='/assets/img/pin-icon.png')

              li.bares-item.pr.curitiba.alto-da-xv
                h3.title.bares-item_title Canabenta
                figure.bares-item_image
                  img(src='assets/img/petiscos/pr_curitiba_canabenta.jpg')
                  figcaption.bares-item_caption
                    article.bares-item_article
                      h4.title.bares-item_article-title Porção de Mandioca com Carne Seca
                      p.bares-item_article-text Mandioca frita em cubos, servida com saborosa carne seca coberta por queijo e cebolinha.
                    footer.bares-item_footer
                      .bares-item_footer_info
                        p Curitiba, PR
                        p Itupava, 1431
                      nav.bares-item_social
                        a.bares-item_social-item(target='_blank' href='https://www.facebook.com/canabenta')
                          img(src='/assets/img/facebook-icon.png')
                        a.bares-item_social-item(target='_blank' href='https://goo.gl/maps/a6DcMmZbCmm')
                          img(src='/assets/img/pin-icon.png')

              li.bares-item.pr.curitiba.centro
                h3.title.bares-item_title Bar Baran
                figure.bares-item_image
                  img(src='assets/img/petiscos/pr_curitiba_bar-baran.jpg')
                  figcaption.bares-item_caption
                    article.bares-item_article
                      h4.title.bares-item_article-title Bolinho de Carne
                      p.bares-item_article-text Recheado com queijo provolone, acompanha maionese de Alho. Feito com carne bovina, farinha de rosca e pão amanhecido, recheado com legítimo queijo provolone.
                    footer.bares-item_footer
                      .bares-item_footer_info
                        p Curitiba, PR
                        p Al.Augusto Stellfeld,799
                      nav.bares-item_social
                        a.bares-item_social-item(target='_blank' href='https://www.facebook.com/BarBaranUcrania')
                          img(src='/assets/img/facebook-icon.png')
                        a.bares-item_social-item(target='_blank' href='https://goo.gl/maps/FpJzfr1d6zL2')
                          img(src='/assets/img/pin-icon.png')


    script(src='/assets/js/main.js')