doctype html
html(lang='pt-br')
  head
    meta(charset='utf-8')
    title Sobre o Botecagem | Botecagem
    meta(name='description', content='')
    link(href='/assets/css/main.css', rel='stylesheet')

  body.botecagem
    include includes/header

    main.main
      .container
        section.about
          article.about-esquenta
            h1.title.about-title Esquenta
              img(src='/assets/img/botecagem-logo.png' alt='Botecagem')
            p.about-text Esquenta Botecagem é um festival que celebrará a cultura brasileira do boteco durante todo o mês de junho.<br> Serão mais de 80 bares espalhados pelo Brasil oferecendo o combo exclusivo: um petisco mais gostoso que o outro, acompanhado de uma Original ou Serramalte geladinha.
            .about-gallery
              img.about-gallery_image(src='/assets/img/botecagem-gallery-1.png' alt='Petiscos de carne')
              img.about-gallery_image(src='/assets/img/botecagem-gallery-2.png' alt='Coxinhas de frango')
              img.about-gallery_image(src='/assets/img/botecagem-gallery-3.png' alt='Petiscos de frango')
              img.about-gallery_image(src='/assets/img/botecagem-gallery-4.png' alt='Petiscos')

          article.about-evento
            h1.title.about-title Evento
              img(src='/assets/img/botecagem-logo.png' alt='Botecagem')
            p.about-text Vamos celebrar a cultura de boteco?
            p.about-text A segunda edição do evento Botecagem está maior e com muito mais botecos de São Paulo, além de convidados de outros Estados.
            p.about-text Os melhores petiscos do Brasil estarão reunidos em um único local e, para celebrar, muita Cerveja Original e Serramalte bem gelada. 
            .about-info
              img.about-info_image(src='/assets/img/evento-image.png' alt='Entrada Botecagem')
              p.about-info_text SERVIÇO:<br> Botecagem SP<br> Local: Estacionamento do Shopping VillaLobos<br> Endereço: Av. das Nações Unidas, 4777 – Alto de Pinheiros<br> Horário: 13h às 22h<br> Entrada: gratuita<br> Informações: (11) 0000-0000

    script(src='/assets/js/main.js')
