doctype html
html
  head
    title Esquenta Boquetagem | Botecagem
    meta(name='description', content='')
    link(href='/assets/css/main.css', rel='stylesheet')

  body.botecagem
    include includes/header

    main.main
      .container

    script(src='/assets/js/main.js')
