doctype html
html(lang='pt-br')
  head
    title Fotos | Botecagem
    meta(charset='utf-8')
    meta(name='description', content='')
    link(href='/assets/css/main.css', rel='stylesheet')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.0.47/jquery.fancybox.min.css')

    script(src='//code.jquery.com/jquery-3.2.1.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.0.47/jquery.fancybox.min.js')
  body.fotos
    include includes/header

    main.main
      .container
        section.fotos
          header.fotos-header
            h1.title.fotos-title Fotos
            h2.fotos-subtitle Veja o que rolou no Botecagem 2017:

        section.fotos-gallery
          .fotos-gallery_row
            .fotos-gallery_col
              a(data-fancybox='gallery' href='/assets/img/fotos/fotos-botecagem-1.jpg')
                img.fotos-gallery_item(src='/assets/img/fotos/fotos-botecagem-1.jpg' alt='Evento Botecagem 2017')
              a(data-fancybox='gallery' href='/assets/img/fotos/fotos-botecagem-2.jpg')
                img.fotos-gallery_item(src='/assets/img/fotos/fotos-botecagem-2.jpg' alt='Evento Botecagem 2017')
            .fotos-gallery_col
              a(data-fancybox='gallery' href='/assets/img/fotos/fotos-botecagem-3.jpg')
                img.fotos-gallery_item(src='/assets/img/fotos/fotos-botecagem-3.jpg' alt='Evento Botecagem 2017')
          
          .fotos-gallery_row
            .fotos-gallery_col
              a(data-fancybox='gallery' href='/assets/img/fotos/fotos-botecagem-4.jpg')
                img.fotos-gallery_item(src='/assets/img/fotos/fotos-botecagem-4.jpg' alt='Evento Botecagem 2017')
            .fotos-gallery_col
              a(data-fancybox='gallery' href='/assets/img/fotos/fotos-botecagem-5.jpg')
                img.fotos-gallery_item(src='/assets/img/fotos/fotos-botecagem-5.jpg' alt='Evento Botecagem 2017')
              a(data-fancybox='gallery' href='/assets/img/fotos/fotos-botecagem-6.jpg')
                img.fotos-gallery_item(src='/assets/img/fotos/fotos-botecagem-6.jpg' alt='Evento Botecagem 2017')

          .fotos-gallery_row
            .fotos-gallery_col
              a(data-fancybox='gallery' href='/assets/img/fotos/fotos-botecagem-7.jpg')
                img.fotos-gallery_item(src='/assets/img/fotos/fotos-botecagem-7.jpg' alt='Evento Botecagem 2017')
            .fotos-gallery_col
              a(data-fancybox='gallery' href='/assets/img/fotos/fotos-botecagem-8.jpg')
                img.fotos-gallery_item(src='/assets/img/fotos/fotos-botecagem-8.jpg' alt='Evento Botecagem 2017')
            .fotos-gallery_col
              a(data-fancybox='gallery' href='/assets/img/fotos/fotos-botecagem-9.jpg')
                img.fotos-gallery_item(src='/assets/img/fotos/fotos-botecagem-9.jpg' alt='Evento Botecagem 2017')
    script(src='/assets/js/main.js')