doctype html
html(lang='pt-br')
  head
    title Botecagem
    meta(charset='utf-8')
    meta(name='description', content='')
    link(href='/assets/css/main.css', rel='stylesheet')

  body.home
    include includes/header

    script(src='/assets/js/main.js')