doctype html
html(lang='pt-br')
  head
    title Botecagem
    meta(charset='utf-8')
    meta(name='description', content='Esquenta Botecagem é um festival que celebrará a cultura brasileira do boteco durante todo o mês de junho.')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    link(href='/assets/css/main.css', rel='stylesheet')

    script.
      var dataLayer = [];
      window.addEventListener('load', function(e) {
        var page = document.body.classList[0];
        dataLayer.push({'pageType': page});
      });

    script.
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-TM7D5J9');

  body.home
    .censored(data-id='censored')
      .censored-container
        img.censored_logo(src='/assets/img/bg-censored_botecagem.png' alt='Botecagem')
        p.censored_text Você tem mais de 18 anos?
        .censored_options
          a.button(data-id='censored-yes') Sim
          a.button(href='http://www.ambev.com.br/consumo-responsavel/' data-id='censored-yes') Não

    include includes/header

    script(src='/assets/vendor/cookie.min.js')
    script(src='/assets/js/main.js')
    noscript
      iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-TM7D5J9', height='0', width='0', style='display:none;visibility:hidden')
